html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.42;
    position: relative;
    color: #666666;
    font-family: 'Play', sans-serif;
}

.body--active-menu {
    overflow: hidden;
}

.container {
    max-width: $containerwidth;
    width: 95%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit
}

img {
    display: block;
    max-width: 100%;
}