// breakpoints

$tablets: 768px;
$phones: 480px;

$containerwidth: 940px;
$baseFontSize: 16px;

//colors
$grey: #F8FAF9;
$red: #CA1B36;

//setups

@import "./media.scss";

@import "./layout.scss";

//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

//components
@import "./components/header/header.scss";
@import "./components/header/hamburger.scss";

@import "./components/overlay/overlay.scss";

@import "./components/hero/hero.scss";
@import "./components/hero/features.scss";
@import "./components/hero/feature.scss";
@import "./components/hero/btn.scss";

@import "./components/section/section.scss";

@import "./components/why/headline.scss";
@import "./components/why/benefit.scss";
@import "./components/why/benefits.scss";

@import "./components/shop/shop.scss";
@import "./components/shop/arrow.scss";

@import "./components/team/team.scss";

@import "./components/reviews/reviews.scss";
@import "./components/reviews/interactive-avatar.scss";

@import "./components/form/form.scss";
@import "./components/form/radio.scss";

@import "./components/map/map.scss";

@import "./components/footer/footer.scss";

@import "./components/fixed-menu/fixed-menu.scss";

@import "./components/modal/modal.scss";