.hamburger {
    width: 24px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: rem(31px);
    right: rem(36px);
    display: none;
    z-index: 15;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger--active {
    
}

.hamburger__plank {
    display: block;
    background: rgba(41, 41, 41, 1);
    height: 4px;
    border-radius: 10px;
}

.hamburger--active .hamburger__plank:nth-child(1) {
    color: white;
    opacity: 0;
}

.hamburger--active .hamburger__plank:nth-child(2) {
    color: white;
    transform: rotate(45deg);
}

.hamburger--active .hamburger__plank:nth-child(3) {
    color: white;
    transform: rotate(-46deg) translateY(-7px) translateX(5px);
}