.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-right: rem(38px);
    width: rem(40px);
    height: rem(40px);
}

.menu {
    margin: 0;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.menu__item {
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    } 
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number {
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: rem(46px);
    margin-right: 0;
    flex-shrink: 0;
}

.phone-number__icon-elem {
    fill: black;
    width: rem(18px);
    height: rem(18px);
    margin-right: rem(6px);
}

.phone-number__text {
    white-space: nowrap;
}