.benefits {
    display: flex;
    margin-top: rem(62px);

    @include phones {
        flex-direction: column;
        //justify-content: space-between;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(31px);
    }

    &:before {
        content: url(../pictures/why/three_dot.png);
        position: absolute;
        top: 18%;
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
            top: 12%;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
        margin-bottom: 0;

        &:before {
            display: none;
    }
}
}