.headline {
    text-align: center;

    @include phones {
        padding: rem(38px) 0;
    }
}
.headline__title {
    margin-bottom: rem(18px);
}

.headline__subtitle {
    padding: 0 20%;

    @include phones {
        font-size: rem(16px);
        line-height: rem(18.5px);
        padding: 0 5%;
    }
}