.arrow__list {
    position: absolute;
    width: 105%;
    top: 50%;
    left: -3%;
    display: flex;
    justify-content: space-between;

    @include tablets {
        width: 60%;
        top: 25%;
        left: 20%;
        z-index: 10;
    }

    @include phones {
        width: 70%;
        left: 15%;
    }
}

.arrow__item {
    max-width: rem(24px);
    max-height: rem(40px);
}

.shop__left {
    max-width: rem(24px);
    max-height: rem(40px);    
}

.shop__right {
    max-width: rem(24px);
    max-height: rem(40px);    
}