.section {
    min-height: rem(650px);
    //min-width: rem(1100px);
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*top: 20%;
    left: 20%;*/
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color: black;

    @include phones {
        font-size: rem(32px);
    }
}

.order-section {
    background: #181818;
    height: 100%;
}

.order-title {
    color: white;
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    padding-top: rem(68px);
}

