.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
}

.footer__container {
    padding: rem(20px) 0 rem(18px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
        justify-content: center;
        gap: 19px;
    }
}

.phone-number__icon-elem-footer {
    fill: red;
}
.footer__phone-number {
    margin: 0;
    font-style: normal;
}

.contacts {
    display: flex;
    flex-direction: column;

    @include phones {
        align-items: center;
        gap: 12px;
    }
}

.contacts__place {
    font-style: normal;
    
    @include phones {
        line-height: 24px;
    }
}

.socials {
    display: flex;
    gap: rem(10px);
}

.social__icon-image {
    width: 30px;
    height: 30px;
}