.form {
    display: flex;
    
    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(27px); 

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        margin-bottom: rem(18px);
    }
}

.form__col--no-margin {
    margin-bottom: 0;
}

.form__row {
    display: flex;
    margin-bottom: rem(18px);
}

.form__row--no-margin {
    margin-bottom: 0;
}

.form__block {
    flex: 1;
    margin-right: rem(20px); 

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    border: solid rem(3px) transparent;

    &--textarea {
        height: rem(180px);
        resize: none;
    }

    &:focus {
        border-color: #E01F3D;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-bottom: rem(22px);

    /*&:nth-child(2) {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }*/

    @include phones {
        justify-content: center;
    }
}

.form__controls--no-margin {
    margin-bottom: 0;
}

.form__title {
    color: white;
}

.form__btns {
    margin-top: rem(46px);

    @include tablets {
        display: flex;
        justify-content: center;
        padding-bottom: rem(180px);
    }
}